.note{
    background-color: #202022;
    color: white;
    width: 456px;
    height: 256px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note h1{
    display: flex;
    justify-content: center;

}
.note div{
    margin-left: 8px;
    
}
.desc{
    font-size: 1.6rem ;
}
.noteRodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.noteRodape div {
    margin-inline: 10px;
    margin-bottom: 5px;
}